Source: python-quantum-common
Section: python
Priority: optional
Maintainer: RCB Builder <rcb-deploy@lists.rackspace.com>
Build-Depends: debhelper (>=7.0.50~)
Build-Depends-Indep: python-support,
 python-setuptools,
 python-webtest,
 pep8,
 python-eventlet (>= 0.9.12),
 python-routes (>= 1.12.3),
 python-paste,
 python-pastedeploy,
 python-gflags,
 python-simplejson,
 python-sqlalchemy-ext | python-sqlalchemy (<< 0.6.3-2),
 python-webob,
 python-nose
XS-Python-Version: >=2.6
Standards-Version: 3.9.1
XCBS-RCB-Component: diablo-final

Package: python-quantum-common
Architecture: all
Homepage: http://github.com/openstack/quantum
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Depends: ${misc:Depends}, ${python:Depends},
 python-eventlet (>= 0.9.12),
 python-routes (>= 1.12.3),
 python-paste,
 python-pastedeploy,
 python-gflags,
 python-simplejson,
 python-sqlalchemy-ext | python-sqlalchemy (<< 0.6.3-2),
 python-webob
Description: Openstack Quantum common libs
